<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-offset-2 col-md-8">
        <h2>Stores</h2>
        <div>
          {{#if model}}
              <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                      {{#each model as |store|}}
                          {{#link-to 'store.show' store tagName="tr" }}
                              <td>
                                  <span>{{store.name}}</span>
                              </td>
                              <td>
                                  {{#link-to 'store.edit' store class="btn btn-success btn-md"}}
                                      Edit
                                  {{/link-to}}
                              </td>
                              <td>
                                  {{#bs-button type="danger" onClick=(action "removeStore" store.id)}}Delete{{/bs-button}}
                              </td>
                          {{/link-to}}
                      {{/each}}
                </tbody>
              </table>
          {{else}}
            <div class="text-center"><h4>Empty data</h4></div>
          {{/if}}
        </div>
        <div class="clear"></div>
        {{#link-to 'store.create' class="btn btn-primary btn-md"}}
          Add stores
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
{{outlet}}